@import "./base/reset";
@import "./abstracts/variables";
@import "./component/button";
@import "./base/breakpoint";

.banner {
  width: 100%;
  height: 100vh;
  background-color: $light-color;
  &-image {
    width: 100%;
    overflow: hidden;
    height: 95vh;
    animation: banner-image linear;
    animation-timeline: view();
    animation-range: exit;
    transform-origin: bottom;

    img {
      width: 100%;
      height: 95vh;
      object-fit: cover;
    }
    .banner-box {
      width: 100%;
      height: 95vh;
      background: linear-gradient(
          180deg,
          rgba(0, 41, 83, 0.8) 0%,
          rgba(0, 45, 91, 0.8) 100%
        ),
        lightgray 50% / cover no-repeat;
      filter: contrast(150%);
      position: absolute;
      top: 0;
      opacity: 0.8;
    }

    @keyframes banner-image {
      25% {
        opacity: 1;
      }
      85%,
      100% {
        opacity: 0;
        scale: 1.3;
      }
    }
  }

  &-content {
    width: 100%;
    height: 95vh;
    overflow: hidden;
    word-wrap: break-word;

    .content {
      position: absolute;
      top: 0;
      width: 100%;
      .navbar {
        nav {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 80px;
          border-bottom: 1px solid #fff;
          padding-inline: 112px;
          @include xl {
            padding: 0 70px;
          }
          @include lg {
            padding: 0 60px;
          }
          @include md {
            padding: 0 50px;
          }
          @include sm {
            padding: 0 50px;
          }
          @include xs {
            padding: 0 30px;
          }
          .nav-left {
            display: flex;
            align-items: center;
            gap: 40px;
            .nav-logo {
              img {
                width: 100%;
              }
            }

            .nav-menu {
              @include lg {
                left: -5%;
              }
              @include sm {
                display: none;
              }

              .nav-items {
                display: flex;
                gap: 40px;
                font-size: 16px;
                li {
                  a,
                  i {
                    color: #ffffff;
                    margin-left: 5px;
                    &:hover {
                      color: #4d92d3;
                    }
                  }
                }
              }
            }
          }
          .nav-right {
            .nav-search {
              .Search-icon {
                background: transparent;
                border: none;
                cursor: pointer;
                @include sm {
                  display: none;
                }
                i {
                  color: #ffffff;
                  .nav-search {
                    .Search-icon {
                      background: transparent;
                      border: none;
                      cursor: pointer;
                      @include sm {
                        display: none;
                      }
                      i {
                        color: #ffffff;
                        font-size: 16px;
                        cursor: pointer;
                      }
                    }

                    .menu-btn {
                      display: none;
                      cursor: pointer;
                      @include sm {
                        display: block;
                      }
                      button {
                        border: none;
                        background: transparent;
                        color: #ffff;
                        cursor: pointer;
                      }
                    }
                  }
                  cursor: pointer;
                }
              }

              .menu-btn {
                display: none;
                cursor: pointer;
                @include sm {
                  display: block;
                }
                button {
                  border: none;
                  background: transparent;
                  color: #ffff;
                  cursor: pointer;
                }
              }
            }
          }
        }

        .dropdown {
          display: none;
          margin: auto;
          border-radius: 5px;
          background-color: #fff;
          box-shadow: 0.1px 0.1px #000;
          width: 350px;
          position: absolute;
          top: 50%;
          left: 40%;
          &-menu {
            display: flex;
            gap: 10px;
            padding: 20px;
          }
        }

        .search-box {
          display: none;
          width: 40%;
          margin-inline: auto;
          position: absolute;
          top: 50;
          left: 50;
          transform: translate(70%, 250%);

          button {
            border-radius: 50%;
            border: none;
            padding: 2px 5px;
            float: right;
            background-color: #fff;
            margin-top: -24px;
            margin-right: -20px;
            font-weight: 100;
            font-size: 12px;
            color: #a7a2a2;
          }
          .box {
            border-radius: 5px;
            padding: 8px;
            background-color: #fff;
            input {
              width: 350px;
              padding: 6px;
              border: none;
            }
          }
        }
      }
      &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 152px;

        h1 {
          color: #ffff;
          font-size: 60px;
          @include xl {
            font-size: 50px;
          }
          @include md {
            font-size: 40px;
          }
          @include sm {
            font-size: 32px;
            padding: 0 16px;
            text-align: center;
          }
          @include xs {
            font-size: 26px;
            padding: 0 38px;
            text-align: center;
          }
        }
        P {
          font-size: 20px;
          width: 768px;
          text-align: center;
          color: #e3e3e3;
          padding: 24px 0px 48px 0px;
          @include xl {
            font-size: 18px;
            width: 568px;
          }
          @include md {
            font-size: 16px;
            width: 468px;
            padding: 12px 0px 32px 0px;
          }
          @include sm {
            font-size: 14px;
            padding-inline: 50px;
          }
        }
        button {
          @extend %btn;
          padding: 16px 28px;
          border: 1px solid #ffe500;
          background-color: transparent;
          color: #ffff;
          gap: 10px;
          cursor: pointer;
          &:hover {
            background-color: #eae5e5;
            color: #093157;
            font-weight: bold;
            transition-duration: 0.3s;
          }

          @include sm {
            padding: 10px 20px;
          }
          i {
            font-size: 12px;
            @include sm {
              font-size: 8px;
            }
          }
        }
        animation: fade-out linear;
        animation-timeline: view();
        animation-range: exit -300px;
        @keyframes fade-out {
          to {
            opacity: 0;
          }
        }
      }
    }
  }
}

.campaigns {
  background-color: $light-color;

  &-contant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    h2 {
      font-size: 32px;
      font-weight: 600;
      color: #24272e;
      margin-bottom: 40px;
    }

    p {
      font-size: 20px;
      color: #667085;
      text-align: center;
      line-height: 30px;
      width: 768px;
      @include md {
        width: 690px;
      }
      @include sm {
        width: 480px;
      }
    }
  }

  &-cards {
    margin-top: 48px;
    padding-bottom: 96px;

    .campaigns-cards-items {
      // display: flex;
      // flex-wrap: wrap;
      // gap: 32px;
      // justify-content: center;
      // animation: card-item linear;
      // animation-duration: 1.3s;

      // @keyframes card-item {
      //   from {
      //     margin-left: -2000px;
      //   }
      //   to {
      //     margin-left: 0px;
      //   }

      // }

      // @include md {
      //   display: flex;
      //   flex-direction: column;
      //   justify-content: center;
      //   align-items: center;
      // }

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 27px;
      padding-inline: 160px;
      @include xl {
        padding-inline: 140px;
      }
      @include lg {
        padding-inline: 100px;
      }
      @include md {
        grid-template-columns: 1fr 1fr;
      }
      @include xs {
        grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
        padding-inline: 80px;
      }

      .card-items {
        // width: 352px;
        // height: 596px;
        background-color: #fff;
        border-radius: 20px;
        overflow: hidden;

        // @include md {
        //   width: 410px;
        //   height: 596px;
        // }

        img {
          width: 100%;
          height: 352px;
          object-fit: cover;
        }

        .card-content {
          padding: 24px 29.4px 24px 32px;
          display: flex;
          flex-direction: column;
          gap: 27px;
          word-wrap: break-word;

          h3 {
            color: #24272e;
            font-size: 18px;
            font-weight: 700;
          }

          p {
            font-size: 14px;
            font-weight: 400;
            color: #7c7d82;
          }

          button {
            @extend %link-btn;
            cursor: pointer;
            &:hover {
              opacity: 0.7;
            }
            i {
              width: 24px;
              height: 24px;
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

.profile {
  background-color: #fff;
  margin: 0 150px;
  margin-top: 10%;
  @include lg {
    margin-inline: 100px;
  }
  @include sm {
    margin-inline: 90px;
  }
  @include xs {
    margin-inline: 80px;
  }

  &-banner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 64px;

    @include md {
      // grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
      // text-align: center;
      grid-template-columns: 1fr;
    }

    .profile-content {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 48px;

      @include md {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      h3 {
        font-size: 32px;
        font-weight: 600;
        color: #24272e;
      }

      P {
        color: #505258;
        line-height: 27px;
      }

      button {
        @extend %link-btn;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .profile-details {
      display: flex;
      gap: 6%;

      @include sm {
        // display: none;
        flex-direction: column;
      }

      .profile-right,
      .profile-left {
        display: flex;
        flex-direction: column;
        gap: 40px;
        .profile-image {
          margin: 0;
          padding: 0;

          img {
            width: 100%;
            height: 415px;
            border-radius: 16px;
            object-fit: cover;
            animation: fade-in linear;
            animation-timeline: view();
            animation-range-start: 10px;
            animation-range-end: 400px;
          }
          @keyframes fade-in {
            from {
              scale: 0.8;
              opacity: 0;
            }
            to {
              scale: 1;
              opacity: 1;
            }
          }

          p {
            font-size: 24px;
            font-weight: 600;
            color: #24272e;
            margin-top: 24px;
          }
        }
      }

      .profile-right {
        margin-top: 20%;
      }
    }
  }
}

.company-carousel {
  background-color: #f9f9ff;
  margin: auto;
  padding: 80px 141.5px;
  margin-top: 96px;
  position: relative;
  @include md {
    padding-inline: 100px;
  }
  @include xs {
    padding-inline: 80px;
  }
  .owl-carousel {
   padding-inline: 65px;
    .item {
      img {
        width: 100%;
        padding-inline: 35px;
      }
    }
  }
  #carousel-button {
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
    
   margin-bottom: -20px;
    .owl-prev,
    .owl-next {
      border: none;
      background: transparent;
      i {
        font-size: 24px;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
          transform: scale(1.5);
        }
      }
    }
  }
}

.news {
  margin-top: 80px;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    h3 {
      font-size: 32px;
      font-weight: 600;
      color: #24272e;
    }

    p {
      color: #505258;
      width: 613px;
      text-align: center;
      @include sm {
        width: 460px;
      }
      @include xs {
        width: 300px;
      }
    }
  }

  &-cards {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 25px;
    justify-content: center;

    .news-cards-items {
      background-color: #f9f9ff;
      border-radius: 20px;
      width: 357px;
      height: 470px;
      padding: 20px 22px 23px 22px;

      @include md {
        margin-top: 20px;
        width: 357px;
      }
      @include sm {
        width: 400px;
      }

      img {
        width: 100%;
        border-radius: 20px;
        object-fit: cover;
      }

      .cards-content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-top: 24px;

        h3 {
          font-size: 24px;
          font-weight: 600;
          color: #24272e;
          align-items: start;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          color: #505258;
        }
        button {
          @extend %link-btn;
          padding-top: 9px;
          cursor: pointer;
        }
        &:hover {
          button {
            opacity: 0.7;
          }
        }
      }
    }
  }

  .view-news-btn {
    @extend %view-btn;
    margin-inline: auto;
    margin-top: 32px;
    cursor: pointer;
    &:hover {
      background-color: #1d6fa3;
      color: #fff;
      transition-duration: 0.3s;
    }
  }
}

.resources {
  margin-top: 80px;
  padding: 80px 0px;
  background-color: $light-color;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 32px;
      font-weight: 600;
      color: #24272e;
    }

    P {
      color: #7c7d82;
      text-align: center;
      width: 498px;
      margin: 32px 0px;
      line-height: 27px;
      @include sm {
        width: 480px;
      }
    }
  }

  &-card {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // gap: 25px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 27px;
    padding-inline: 160px;
    @include xl {
      padding-inline: 140px;
    }
    @include lg {
      padding-inline: 100px;
    }
    @include md {
      grid-template-columns: 1fr 1fr;
    }
    @include xs {
      grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
      padding-inline: 80px;
    }
    .card-items {
      // width: 352px;
      // height: 337px;
      border-radius: 22px;
      background-color: #ffff;
      padding: 36px 29px 17px 29px;

      .card-icon,
      .card-icon-check,
      .card-icon-text {
        i {
          font-size: 32px;
          padding: 17px;
          rotate: 270deg;
          color: #a276ff;
          background-color: lighten(#a276ff, 25);
          border-radius: 18px;
          margin-right: 18px;
        }
        font-size: 18px;
        font-weight: 400;
      }

      .card-icon-text {
        i {
          color: #7291ff;
          background-color: lighten(#7291ff, 25);
          rotate: 0deg;
        }
      }

      .card-icon-check {
        i {
          color: #ff5400;
          background-color: lighten(#ff5400, 45);
          rotate: 0deg;
        }
      }

      .card-content,
      .card-content-check,
      .card-content-text {
        h3 {
          font-size: 24px;
          font-weight: 600;
          margin-top: 21px;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          color: #7c7d82;
          margin-top: 12.5px;
          width: 100%;
        }
        button {
          @extend %link-btn;
          margin-top: 50px;
          float: left;
          margin-left: -15px;
          &:hover {
            opacity: 0.7;
          }
        }
      }

      .card-content-check,
      .card-content-text {
        p {
          margin-top: 55px;
        }
      }
    }
  }

  button {
    @extend %view-btn;
    margin-inline: auto;
    margin-top: 32px;
    cursor: pointer;
    &:hover {
      background-color: #1d6fa3;
      color: #fff;
      transition-duration: 0.8s;
    }
  }
}

.contact {
  padding: 80px 0px;
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 32px;
      font-weight: 600;
      color: #24272e;
    }

    P {
      color: #7c7d82;
      line-height: 27px;
      width: 498px;
      text-align: center;
      margin: 32px 0px;
      @include sm {
        width: 380px;
      }
      @include xs {
        width: 300px;
      }
    }
  }

  &-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;

    form {
      width: 550px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      @include sm {
        width: 400px;
      }

      input {
        padding: 12px;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.16);
      }
      label {
        font-size: 16px;
        font-weight: 500;
        color: #24272e;
      }

      .name {
        display: flex;
        gap: 16px;

        &-label {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: 50%;
        }
      }

      .email,
      .message {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
      button {
        @extend %view-btn;
        background: transparent;
        margin-inline: auto;
        margin-top: 32px;
        &:hover {
          background-color: #1d6fa3;
          color: #fff;
          cursor: pointer;
          transition-duration: 0.5s;
        }
      }
    }
  }
}

.bottom-banner {
  position: relative;
  width: 100%;

  img {
    width: 100%;
    height: 51.5vh;
    object-fit: cover;
    @include xl {
      height: 70vh;
    }
  }
  &-box {
    width: 100%;
    height: 51.5vh;
    opacity: 0.85;
    background: linear-gradient(135deg, #3387d7 0%, #093157 100%);
    filter: contrast(95%);
    position: absolute;
    top: 0;
    @include xl {
      height: 70vh;
    }
  }

  &-content {
    position: absolute;
    top: 20%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 165px;
    gap: 30px;
    @include sm {
      padding: 0 65px;
    }

    .left-content {
      .bottom-logo {
        display: flex;
        align-items: center;
        gap: 18px;
        @include lg {
          width: 300px;
        }
        .logomark {
          width: 23%;
          height: auto;
        }
        .logo {
          width: 44%;
          height: auto;
        }
      }
      P {
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;
        margin: 24px 0px;
        width: 400px;
        line-height: 21px;
        // @include xl {
        //   width: 300px;
        // }
      }
      .social-media {
        ul {
          display: flex;
          gap: 16px;
          @include xl {
            justify-content: center;
          }

          li {
            a {
              color: $primary-color;
            }
            i {
              border-radius: 50%;
              background-color: #ffff;
              padding: 10px;
            }
          }
        }
      }
    }

    .right-content {
      display: flex;
      gap: 80px;
      @include sm {
        gap: 60px;
      }

      .link {
        h4 {
          font-size: 16px;
          font-weight: 600;
          color: #ffffff;
        }
        &-items {
          ul {
            li {
              margin: 16px 0px;

              a {
                font-size: 14px;
                font-weight: 400;
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}

footer {
  .footer-content {
    width: 100%;
    height: 10vh;
    background-color: #f9f9ff;
    display: grid;
    align-items: center;
    .terms {
      display: flex;
      justify-content: space-between;
      margin-inline: 10%;

      .left {
        a {
          font-size: 14px;
          font-weight: 400;
          color: #7c7d82;
        }
      }

      .right {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  button {
    border: none;
    border-radius: 50%;
    width: 3%;
    height: auto;
    padding: 1% 0%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
    float: right;
    position: relative;
    margin-top: -3.5%;
    right: 3%;
    @include xl {
      margin-top: -4.8%;
    }
    @include md {
      padding: 12px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -11%;
      margin-left: 10%;
    }

    i {
      font-size: 16px;
      font-weight: 300;
      color: #7c7d82;
    }
  }
}
