@import "./base/reset";
@import "./abstracts/variables";
@import "./component/button";
@import "./base/breakpoint";

.banner {
  width: 100%;
  height: 100vh;
  background-color: $light-color;
  &-image {
    width: auto;
    overflow: hidden;
    height: 95vh;
    animation: banner-image linear;
    animation-timeline: view();
    animation-range: exit;
    transform-origin: bottom;

    img {
      width: 100%;
      height: 95vh;
      object-fit: cover;
    }
    .banner-box {
      width: 100%;
      height: 95vh;
      background: linear-gradient(
          180deg,
          rgba(0, 41, 83, 0.8) 0%,
          rgba(0, 45, 91, 0.8) 100%
        ),
        lightgray 50% / cover no-repeat;
      filter: contrast(150%);
      position: absolute;
      top: 0;
      opacity: 0.8;
    }

    @keyframes banner-image {
      25% {
        opacity: 1;
      }
      85%,
      100% {
        opacity: 0;
        scale: 1.3;
      }
    }
  }

  &-content {
    width: 100%;
    height: 95vh;
    overflow: hidden;
    word-wrap: break-word;
  }
  
  .content {
    position: absolute;
    top: 0;
    width: 100%;
    .navbar {
      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        border-bottom: 1px solid #fff;
        padding-inline: 100px;

        @include xl {
          padding: 0 70px;
        }

        @include lg {
          padding: 0 60px;
        }

        @include md {
          padding: 0 50px;
        }

        @include sm {
          padding: 0 50px;
        }

        @include xs {
          padding: 0 30px;
        }

        @include xxs {
          padding-inline: 20px;
        }

        .nav-left {
          display: flex;
          align-items: center;
          gap: 40px;
          .nav-logo {
            img {
              width: 100%;
              @include xxs {
                width: 60%;
              }
            }
          }

          .nav-menu {
            @include lg {
              left: -5%;
            }
            @include sm {
              display: none;
            }
          }
          .nav-items {
            display: flex;
            gap: 40px;
            font-size: 16px;
            li {
              a {
                color: #ffffff;
                margin-left: 5px;
                cursor: pointer;
                &:hover {
                  color: #4d92d3;
                }
              }
            }
            #dropdown {
              position: relative;
              
              button {
                background-color: transparent;
                border: none;
                color: #ffffff;
                font-size: 16px;
                cursor: pointer;
                &:hover {
                  color: #4d92d3;
                }
              }
            }
          }
          .dropdown-menu {
            display: none;
            padding: 24px 32px;
            border-radius: 5px;
            background-color: #ffffff;
            box-shadow: 0.1px 0.1px #000;
            width: 412px;
            position: absolute;
            z-index: 10;
            top: 40px;
            @include lg {
              right: 0;
            }
            &-item {
              display: flex;
              gap: 16px;
              padding: 12px 0px;
              i {
                font-size: 24px;
                color: #1c6fa1;
              }
              a {
                h3 {
                  color: #101828;
                  font-size: 16px;
                  font-weight: 600;
                  line-height: 24px;
                }
                p {
                  color: #667085;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 20px;
                  word-wrap: break-word;
                }
              }
            }
          }
          .dropdown-menu.show {
            display: block;
            @include sm {
              display: none;
            }
          }
        }
        .nav-right {
          display: flex;
          gap: 24px;
          .nav-search {
            .Search-icon {
              background: transparent;
              border: none;
              position: relative;
              cursor: pointer;
              i {
                color: #ffffff;
                cursor: pointer;
                font-size: 22px;
                @include xxs {
                  font-size: 16px;
                }
              }
            }
            .search-box {
              display: none;
              justify-content: center;
              align-items: center;
              position: absolute;
              left: 8%;
              right: 8%;
              top:150px;
            }
            .search-box.show {
              display: flex;
            }
            .search-input{
              background-color: #ffffff;
              border-radius: 8px;
              width: 616px;
              padding: 16px;
          
              @include sm {
                width:100%;
                padding: 10px;
              }
          
              input {
                width: 552px;
                border: none;
                color: #62696f;
                font-size: 16px;
                font-weight: 400;
          
                @include sm {
                  width: 80%;
                }
              }
            }
          
            .close-btn {
              border: none;
              background-color: transparent;
              padding: 0px 8px;
              margin-top: -65px;
              margin-left: -10px;
          
              @include sm {
                margin-top: -45px;
                margin-left: -8px;
              }

              @include xs {
                display: none;
              }
              
              i {
                font-size: 16px;
                background-color: $light-color;
                font-weight: normal;
                border-radius: 50%;
                padding: 2px 3px;
              }
            }
          }
        }
      }
      .small-menu {
        display: none;
        position: absolute;
        top: 40px;
        right: 0;
        width: 120px;
        border: 1px solid #ffffff;
        border-radius: 5px;
        padding: 4px 8px;
        background-color: #ffffff;
        z-index: 10;
        cursor: pointer;
        &-item {
          a {
            color: $primary-color;
            font-size: 16px;
            font-weight: 400;
            line-height: 34px;
            &:hover {
              color: #4d92d3;
            }
          }
        }
      }
      .small-menu.show {
        display: block;
      }
      .hamburger-btn {
        display: none;
        position: relative;
        cursor: pointer;
        #hamburger {
          i {
            font-size: 24px;

            @include xxs {
              font-size: 16px;
            }
          }
        }

        @include sm {
          display: block;
        }
        button {
          border: none;
          background: transparent;
          color: #ffff;
          cursor: pointer;
        }
      }
    }
  }

  .content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 152px;

    h1 {
      color: #ffff;
      font-size: 60px;
      font-weight: 600;
      line-height: 72px;

      @include xl {
        font-size: 50px;
      }
      @include md {
        font-size: 40px;
      }
      @include sm {
        padding: 0 16px;
        text-align: center;
      }
      @include xs {
        font-size: 30px;
        padding: 0 38px;
      }

      @include xs {
        font-size: 28px;
        line-height: 30px;
        font-weight: 400;
      }
    }
    P {
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      width: 768px;
      text-align: center;
      color: #e3e3e3;
      padding: 24px 0px 48px 0px;
      @include xl {
        font-size: 18px;
        width: 568px;
      }
      @include md {
        font-size: 16px;
        width: 468px;
        padding: 12px 0px 32px 0px;
      }
      @include sm {
        padding-inline: 50px;
        width: 100%;
        line-height: 24px;
      }
      @include xs {
        font-size: 12px;
        line-height: 18px;
        font-weight: 300;
        padding-inline: 90px;
      }
      @include xxs {
        padding-inline: 20px;
      }
    }
    button {
      @extend %btn;
      padding: 16px 28px;
      border: 1px solid #ffe500;
      background-color: transparent;
      color: #ffff;
      gap: 10px;
      cursor: pointer;
      &:hover {
        background-color: #eae5e5;
        color: #093157;
        font-weight: bold;
        transition-duration: 0.3s;
      }

      @include sm {
        padding: 10px 20px;
      }
      i {
        font-size: 12px;
        @include sm {
          font-size: 8px;
        }
      }
    }
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit -300px;
    @keyframes fade-out {
      to {
        opacity: 0;
      }
    }
  }
}

.campaigns {
  background-color: $light-color;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;

    h2 {
      font-size: 32px;
      font-weight: 600;
      color: #24272e;
      margin-bottom: 40px;

      @include xxs {
        font-size: 28px;
        margin-bottom: 20px;
      }
    }

    p {
      font-size: 20px;
      color: #667085;
      text-align: center;
      line-height: 30px;
      padding-inline: 350px;

      @include xl {
        padding-inline: 270px;
      }

      @include lg {
        padding-inline: 170px;
      }

      @include md {
        padding-inline: 120px;
      }

      @include xs {
        padding-inline: 50px;
        font-size: 18px;
      }

      @include xxs {
        text-align: start;
        padding-inline: 20px;
      }
    }
  }

  &-cards {
    margin-top: 48px;
    padding-bottom: 96px;
  }

  .campaigns-cards-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 27px;
    padding-inline: 160px;

    @include xl {
      padding-inline: 70px;
    }

    @include lg {
      grid-template-columns: 1fr 1fr;
      padding-inline: 60px;
    }

    @include md {
      padding-inline: 50px;
    }

    @include sm {
      grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
      padding-inline: 50px;
    }

    @include xxs {
      padding-inline: 20px;
    }
  }

  .card-items {
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;

    img {
      width: 100%;
      height: 352px;
      object-fit: cover;
    }
  }

  .card-content {
    padding: 24px 29.4px 24px 32px;
    display: flex;
    flex-direction: column;
    gap: 27px;
    word-wrap: break-word;

    h3 {
      color: #24272e;
      font-size: 18px;
      font-weight: 700;
    }

    p {
      font-size: 14px;
      font-weight: 400;
      color: #7c7d82;
    }
  }

  button {
    @extend %link-btn;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }

    i {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
    }
  }
}

.profile {
  background-color: #fff;
  margin: 0 155px;
  margin-top: 10%;

  @include xl {
    margin-inline: 70px;
  }

  @include lg {
    margin-inline: 60px;
  }

  @include md {
    margin-inline: 50px;
  }

  @include sm {
    margin-inline: 50px;
  }

  @include xxs {
    margin-inline: 20px;
  }

  &-banner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 64px;

    @include md {
      grid-template-columns: 1fr;
    }

    .profile-content {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 48px;

      @include md {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      h3 {
        font-size: 32px;
        font-weight: 600;
        color: #24272e;
      }

      P {
        color: #505258;
        line-height: 27px;
      }

      button {
        @extend %link-btn;
        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .profile-details {
      display: flex;
      gap: 6%;

      @include sm {
        // display: none;
        flex-direction: column;
      }

      .profile-right,
      .profile-left {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .profile-image {
          margin: 0;
          padding: 0;

          img {
            width: 100%;
            height: 415px;
            border-radius: 16px;
            object-fit: cover;
            animation: fade-in linear;
            animation-timeline: view();
            animation-range-start: 10px;
            animation-range-end: 400px;
            @include sm {
              height: auto;
            }
          }

          @keyframes fade-in {
            from {
              scale: 0.8;
              opacity: 0;
            }

            to {
              scale: 1;
              opacity: 1;
            }
          }

          p {
            font-size: 24px;
            font-weight: 600;
            color: #24272e;
            margin-top: 24px;
          }
        }
      }

      .profile-right {
        margin-top: 20%;
      }
    }
  }
}

.company-carousel {
  background-color: #f9f9ff;
  margin: auto;
  padding: 80px 141.5px;
  margin-top: 96px;
  position: relative;

  @include xl {
    padding-inline: 70px;
  }

  @include lg {
    padding-inline: 60px;
  }

  @include md {
    padding-inline: 50px;
  }

  @include xs {
    padding-inline: 50px;
  }
  .owl-carousel {
    padding-inline: 65px;
    .item {
      img {
        width: 100%;
        padding-inline: 35px;
      }
    }
  }

  #carousel-button {
    margin-top: 0%;
    display: flex;
    justify-content: space-between;

    margin-bottom: -20px;
    .owl-prev,
    .owl-next {
      border: none;
      background: transparent;

      i {
        font-size: 24px;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
          transform: scale(1.5);
        }
      }
    }
  }
}

.news {
  margin-top: 80px;
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    h3 {
      font-size: 32px;
      font-weight: 600;
      color: #24272e;
    }

    p {
      color: #505258;
      width: 613px;
      text-align: center;
      @include sm {
        width: 460px;
      }

      @include xs {
        width: 300px;
      }

      @include xxs {
        width: 100%;
        padding-inline: 20px;
      }
    }
  }

  &-cards {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 25px;
    justify-content: center;

    @include md {
      padding-inline: 50px;
    }

    @include xxs {
      padding-inline: 20px;
    }

    .news-cards-items {
      background-color: #f9f9ff;
      border-radius: 20px;
      width: 357px;
      height: 470px;
      padding: 20px 22px 23px 22px;

      @include md {
        margin-top: 40px;
        width: 100%;
        height: auto;
      }

      img {
        width: 100%;
        border-radius: 20px;
        object-fit: cover;
      }

      .cards-content {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-top: 24px;

        h3 {
          font-size: 24px;
          font-weight: 600;
          color: #24272e;
          align-items: start;
        }

        p {
          font-size: 16px;
          font-weight: 400;
          color: #505258;
        }

        button {
          @extend %link-btn;
          padding-top: 9px;
          cursor: pointer;
          transition-duration: 0.3s;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  .view-news-btn {
    @extend %view-btn;
    margin-inline: auto;
    margin-top: 32px;
    cursor: pointer;
    transition-duration: 0.3s;
    @include md {
      margin-top: 190px;
    }

    &:hover {
      background-color: #1d6fa3;
      color: #fff;
    }
  }
}

.resources {
  margin-top: 80px;
  padding: 80px 0px;
  background-color: $light-color;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 32px;
      font-weight: 600;
      color: #24272e;

      @include xxs {
        font-size: 28px;
        font-weight: 500;
      }
    }

    P {
      color: #7c7d82;
      text-align: center;
      width: 498px;
      margin: 32px 0px;
      line-height: 27px;

      @include sm {
        width: 480px;
      }

      @include xxs {
        width: 100%;
        padding-inline: 20px;
        line-height: 22px;
      }
    }
  }

  &-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 27px;
    padding-inline: 160px;

    @include xl {
      padding-inline: 70px;
    }

    @include lg {
      padding-inline: 60px;
    }

    @include md {
      grid-template-columns: 1fr 1fr;
      padding-inline: 50px;
    }

    @include xs {
      grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
      padding-inline: 50px;
    }

    @include xxs {
      padding-inline: 20px;
    }

    .card-items {
      // width: 352px;
      // height: 337px;
      border-radius: 22px;
      background-color: #ffff;
      padding: 36px 29px 17px 29px;

      .card-icon,
      .card-icon-check,
      .card-icon-text {
        i {
          font-size: 32px;
          padding: 17px;
          rotate: 270deg;
          color: #a276ff;
          background-color: lighten(#a276ff, 25);
          border-radius: 18px;
          margin-right: 18px;
        }
        font-size: 18px;
        font-weight: 400;
      }

      .card-icon-text {
        i {
          color: #7291ff;
          background-color: lighten(#7291ff, 25);
          rotate: 0deg;
        }
      }

      .card-icon-check {
        i {
          color: #ff5400;
          background-color: lighten(#ff5400, 45);
          rotate: 0deg;
        }
      }

      .card-content,
      .card-content-check,
      .card-content-text {
        h3 {
          font-size: 24px;
          font-weight: 600;
          margin-top: 21px;
        }

        p {
          font-size: 16px;
          font-weight: 400;
          color: #7c7d82;
          margin-top: 12.5px;
          width: 100%;
        }

        button {
          @extend %link-btn;
          margin-top: 50px;
          float: left;
          margin-left: -15px;
          &:hover {
            opacity: 0.7;
          }
        }
      }

      .card-content-check,
      .card-content-text {
        p {
          margin-top: 55px;
        }
      }
    }
  }

  button {
    @extend %view-btn;
    margin-inline: auto;
    margin-top: 32px;
    cursor: pointer;
    &:hover {
      background-color: #1d6fa3;
      color: #fff;
      transition-duration: 0.8s;
    }
  }
}

.contact {
  padding: 80px 0px;
  @include xxs {
    padding-inline: 20px;
  }
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 32px;
      font-weight: 600;
      color: #24272e;
    }

    P {
      color: #7c7d82;
      line-height: 27px;
      width: 498px;
      text-align: center;
      margin: 32px 0px;
      @include sm {
        width: 380px;
      }
      @include xs {
        width: 300px;
      }
    }
  }

  &-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;

    form {
      width: 550px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-inline: 0;

      @include sm {
        // width: 400px;
        padding-inline: 20px;
      }

      @include xxs {
        width: 100%;
        padding-inline: 0px;
      }

      input {
        padding: 12px;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.16);
      }

      label {
        font-size: 16px;
        font-weight: 500;
        color: #24272e;
      }

      .name {
        display: flex;
        gap: 16px;
        @include xxs {
          flex-direction: column;
        }

        &-label {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: 50%;
          @include xxs {
            width: 100%;
          }
        }
      }

      .email,
      .message {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      #message {
        border-color: rgba(0, 0, 0, 0.16);
        border-radius: 8px;
      }

      button {
        @extend %view-btn;
        background: transparent;
        margin-inline: auto;
        margin-top: 32px;
        &:hover {
          background-color: #1d6fa3;
          color: #fff;
          cursor: pointer;
          transition-duration: 0.5s;
        }
      }
    }
  }
}

.bottom-banner {
  position: relative;
  width: 100%;

  img {
    width: 100%;
    height: 51.5vh;
    object-fit: cover;
    @include md {
      height: 80vh;
    }
  }

  &-box {
    width: 100%;
    height: 51.5vh;
    opacity: 0.85;
    background: linear-gradient(135deg, #3387d7 0%, #093157 100%);
    filter: contrast(95%);
    position: absolute;
    top: 0;
    @include md {
      height: 80vh;
    }
  }

  &-content {
    position: absolute;
    top: 20%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 160px;
    gap: 30px;

    @include xl {
      padding-inline: 70px;
    }

    @include lg {
      padding-inline: 60px;
    }

    @include md {
      padding-inline: 50px;
    }

    @include xxs {
      padding-inline: 20px;
    }
  }

  .left-content {
    flex-basis: 300px;
    .bottom-logo {
      display: flex;
      align-items: center;
      gap: 18px;
      @include lg {
        width: 300px;
      }
      .logo-mark {
        width: 22%;
        height: auto;
        @include xxs {
          width: 16%;
        }
      }
      .logo {
        width: 44%;
        height: auto;
        @include xxs {
          width: 36%;
        }
      }
    }
    P {
      font-size: 14px;
      font-weight: 400;
      color: #ffffff;
      margin: 24px 0px;
      line-height: 21px;
    }
    .social-media {
      ul {
        display: flex;
        gap: 16px;

        a {
          color: $primary-color;
        }
        i {
          border-radius: 50%;
          background-color: #ffff;
          padding: 10px;
        }
      }
    }
  }

  .right-content {
    display: flex;
    gap: 80px;
    @include md {
      width: 100%;
      justify-content: space-between;
      gap: 0px;
      padding-right: 180px;
    }
    @include sm {
      padding-right: 0px;
    }
    @include xxs {
      gap: 14px;
    }

    .link {
      h3 {
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        line-height: 20px;
        margin-bottom: 32px;
        @include sm {
          margin-bottom: 18px;
        }
        @include xs {
          margin-bottom: 12px;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        @include sm {
          gap: 8px;
        }
        @include xs {
          gap: 3px;
        }
        a {
          font-size: 14px;
          font-weight: 400;
          color: #ffffff;
          font-family: DM Sans;
          line-height: 20px;
        }
      }
    }
  }
}

footer {
  .footer-content {
    width: 100%;
    height: 10vh;
    background-color: #f9f9ff;
    display: grid;
    align-items: center;
    .terms {
      display: flex;
      justify-content: space-between;
      padding-inline: 164px;

      @include xl {
        padding-inline: 70px;
      }

      @include lg {
        padding-inline: 60px;
      }

      @include md {
        padding-inline: 50px;
      }

      @include xxs {
        padding-inline: 20px;
      }

      .left {
        a {
          font-size: 14px;
          font-weight: 400;
          color: #7c7d82;
        }
      }

      .right {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  .scroll-btn {
    button {
      border: none;
      border-radius: 50%;
      width: 3%;
      height: auto;
      padding: 1% 0%;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
      float: right;
      position: relative;
      margin-top: -4.5%;
      right: 3%;
      @include xl {
        margin-top: -4.8%;
      }
      @include md {
        padding: 12px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -11%;
        margin-left: 10%;
      }

      i {
        font-size: 14px;
        font-weight: 300;
        color: #7c7d82;
      }
    }
  }
}
